<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의료 기록 관리 시스템</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <h2>의료 기록 관리 시스템</h2>
    <p>환자 정보를 관리하고 진료 기록을 확인하세요.</p>

    <!-- 메뉴 -->
    <nav>
        <ul>
            <li><a href="/patients">환자 목록</a></li>
            <li><a href="/addPatient">환자 추가</a></li>
        </ul>
    </nav>

</body>
</html>
